<footer class="container">
  George Mason University &#149; For Educational Uses Only &#149; Group Project by 
    <a href="https://github.com/groat-mike" target="_blank">Michael Groat</a>, 
    <a href="https://github.com/phutfut" target="_blank">Wellson Fung</a>, &amp; 
    <a href="https://github.com/webninjataylor" target="_blank">Taylor Johnson</a>
</footer>